<div class="layui-row main-header">
    <span>商家信息列表</span>
</div>
<div class="layui-row main-content">
    <div class="main-content-top">
        <button class="layui-btn" onclick="layui.bizBusiness.addBusiness()">+&nbsp;&nbsp;添加商家信息</button>
    </div>
    <div class="main-content-form">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="businessName" name="businessName" autocomplete="off" placeholder="商家名称" class="layui-input" />
                </div>
                <div class="layui-col-md1">
                    <a class="layui-btn layui-btn-sm" onclick="layui.bizBusiness.initTable()">查询</a>
                </div>
            </div>
        </form>
    </div>
    <div class="main-content-center">
        <div id="bizBusinessTable" class="layui-table" lay-filter="bizBusinessEvent"></div>
    </div>
</div>

<script id="addOrUpdateBusiness" type="text/html">
    <div class="layer-div">
        <form id="addOrUpdateBusinessForm" class="layui-form" autocomplete="off">
            <input type="hidden" name="id" value="{{d.id}}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>商家名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="businessName" placeholder="商家名称" lay-verify="businessName" class="layui-input" value="{{d.businessName}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-block">
                    <input type="text" name="linkPeople" placeholder="联系人" lay-verify="linkPeople" class="layui-input" value="{{d.linkPeople}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话：</label>
                <div class="layui-input-block">
                    <input type="tel" name="mobile" placeholder="联系电话" lay-verify="mobile" class="layui-input" value="{{d.mobile}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系地址:</label>
                <div class="layui-input-inline">
                    <select lay-verify="provinceId" name="provinceId" id="provinceId" lay-filter="provinceId" class="layui-select">
                        <option value="{{d.provinceId}}"></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select lay-verify="cityId" name="cityId" id="cityId" lay-filter="cityId" class="layui-select">
                        <option value="{{d.cityId}}"></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select lay-verify="areaId" name="areaId" id="areaId" class="layui-select">
                        <option value="{{d.areaId}}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item form-btn">
                <div class="layui-inline">
                    <button id="submits" class="layui-btn layui-btn-md" lay-submit lay-filter="addOrUpdateBusinessForm">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript">
    layui.use("bizBusiness",function(){
        var bizBusiness = layui.bizBusiness;
        //初始化页面
        bizBusiness.initView();
        //监听事件
        bizBusiness.tool();
    });
</script>
