<div class="layui-row main-header">
    <span>前端用户列表</span>
</div>
<div class="layui-row main-content">
    <div class="main-content-top">
        <button class="layui-btn" onclick="layui.sysUser.addUser()">+&nbsp;&nbsp;添加用户</button>
    </div>
    <div class="main-content-form">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="userName" autocomplete="off" placeholder="用户名：" class="layui-input" />
                </div>
                <div class="layui-col-md1">
                    <a class="layui-btn layui-btn-sm" onclick="layui.sysUser.initTable()">查询</a>
                </div>
            </div>
        </form>
    </div>
    <div class="main-content-center">
        <div id="sysUserTable" class="layui-table" lay-filter="sysUserEvent"></div>
    </div>
</div>

<script id="addOrUpdateUser" type="text/html">
    <div class="layer-div">
        <form id="addOrUpdateUserForm" class="layui-form" autocomplete="off">
            <input type="hidden" name="id" value="{{d.id}}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>用户名：</label>
                <div class="layui-input-block">
                    <input type="text" name="userName" placeholder="用户名" lay-verify="userName" class="layui-input" value="{{d.userName}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="0" title="女" checked="">
                    <input type="radio" name="sex" value="1" title="男">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>年龄：</label>
                <div class="layui-input-block">
                    <input type="number" name="age" placeholder="年龄" lay-verify="age" class="layui-input" value="{{d.age}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>登录名：</label>
                <div class="layui-input-block">
                    <input type="text" name="loginName" placeholder="登录名" lay-verify="loginName" class="layui-input" value="{{d.loginName}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="password" placeholder="账号密码" lay-verify="loginName" class="layui-input" value="{{d.password}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>手机号码：</label>
                <div class="layui-input-block">
                    <input type="tel" name="mobile" placeholder="手机号码" lay-verify="mobile" class="layui-input" value="{{d.mobile}}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="layui-form-label-star">*</span>邮箱：</label>
                <div class="layui-input-block">
                    <input type="email" name="email" placeholder="邮箱" lay-verify="email" class="layui-input" value="{{d.email}}" />
                </div>
            </div>
            <div class="layui-form-item form-btn">
                <div class="layui-inline">
                    <button id="submits" class="layui-btn layui-btn-md" lay-submit lay-filter="addOrUpdateUserForm">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript">
    layui.use("sysUser",function(){
        var sysUser = layui.sysUser;
        //初始化页面
        sysUser.initView();
        //监听事件
        sysUser.tool();
    })
</script>
