<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chains.mapper.SysPlatformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chains.model.SysPlatform">
        <id column="id" property="id" />
        <result column="logo_url" property="logoUrl" />
        <result column="logo_name" property="logoName" />
        <result column="company_url" property="companyUrl" />
        <result column="company_name" property="companyName" />
        <result column="qrcode" property="qrcode" />
        <result column="tel" property="tel" />
        <result column="company_addr" property="companyAddr" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_on" property="createOn" />
        <result column="create_by" property="createBy" />
        <result column="update_on" property="updateOn" />
        <result column="update_by" property="updateBy" />
    </resultMap>
    <update id="updateStatusById" parameterType="com.chains.model.SysPlatform">
        UPDATE sys_platform t SET
		t.IS_DELETED = 1
		WHERE t.id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
